body {
    background: blue;
}
img {
    max-width: 300px;
    height: auto;
}
.images {
    margin: auto;
    text-align: center;
    float: left;
    width: 50%;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}