body {
    background: lavender
}
img {
    max-width: 300px;
    height: auto;
}
.images {
    margin: auto;
    text-align: center;
    float: left;
    width: 50%;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
ul {
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#listedFirst:hover {
    color: blue;
}
#listedSecond:hover {
    color: red;
}
#listedThird:hover {
    color: purple;
}